.header {
  display:  flex;
  background: #519872;
}
.header-title {
  display:  flex;
  align-items: center;
  justify-content:  center;
  width: 60%;
  color: white;
}

.logout-button {
  color:  white;
}