.header {
  display:  flex;
  background: #519872;
  height: 75px;
}
.header-title {
  display:  flex;
  align-items: center;
  justify-content:  center;
  width: 65%;
  color: white;
}

.logout-button {
  color:  white;
  display: flex;
  height: 100%;
}

p.header-text {
  font-size: 30px;
  margin-left: 7px;
}

p.header-logout {
  align-items:  center;
  display:  flex;
  cursor: pointer;
}
