.dashboard-main-content {
  display: flex;
  height:  95vh;
  width: 60%;
  margin:  auto;
  background:#ecf7f1;
  flex-direction: column;
  padding: 20px;
}

.Dashboard {
  background: #afd4c0;
}

a.add-property-link {
  display:  flex;
  background: #8aea92;
  justify-content: center;
  color: black;
  font-weight:  bold;
  width: 35%;
  margin-left:  auto;
  margin-right:  auto;
  font-size: 20px;
  text-decoration:  none;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.filter-box {
  display:  flex;
  justify-content:  center;
  align-items:  center;
  flex-direction:  row;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  padding-bottom: 30px;
}

input.input-box {
  width: 40px;
  height: 20px;
  border: 1px #519872 solid;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

button.deleteButton {
  background:  none;
}

.property-list {
  display:  flex;
  width: 100%;
  justify-content: space-between;
  background: #dedede;
  margin-bottom: 10px;
  border: 1px black solid;
  height: 225px;
}

img.imgBox {
  height: 100%;
  width: 100%;
}


.propertyDetailBox {
  margin-right: -40px;
}

.propertyDetailBox {
  margin-right: -40px;
  font-size: 15px;
  border-left: 1px black solid;
  width: 20%;
  padding: 10px;
}

.nameBox {
  font-size: 16px;
  width: 33%;
}

p.property-description-text {
  font-weight: 700;
}

p.home-listings-text {
  font-weight: 700;
  font-size: 25px;
}

.deleteButtonBox {
  width: 4%;
}
.imgBox-container {
  width: 33%;
}

button.filter-button {
  background: #8aea92;
  height: 35px;
  font-size: 12px;
  width: 55px;
}

button.reset-button {
  background:  #3b5249;
  color:  white;
  height: 35px;
  width: 55px;
  font-size:  12px;
  margin-left: 5px;
}